<h1><%= @patient.first_name ? "Edit " : "New " %>Patient</h1>
<div>
<div class="form_input"><%= form_with(model: @patient, local: true, class: "ui-form") do |f| %></div>
<div class="form_input_label"><%= f.label :first_name %></div>
<div class="form_input"><%= f.text_field :first_name %></div>
<div class="form_input_label"><%= f.label :last_name %></div>
<div class="form_input"><%= f.text_field :last_name %></div>
<div class="form_input_label"><%= f.label :age %></div>
<div class="form_input"><%= f.number_field :age %></div>
<div class="form_input_label"><%= f.label :gender, "Chromosomes: " %>
<span class="custom_select"><%= f.select :gender, ["XX", "XY"], class: "select" %></span></div>
<br />
<div class="form_input"><%= f.submit %></div>
<div class="form_input"><% end %>
</div>


