<h1><%=@patient.full_name%></h1>
<h3>Age: <%= @patient.age %>
<h3>Gender: <%= @patient.gender %></h3>
<h3>Contact Information: </h3>
<h4>
<div><%= button_to "Edit Patient", edit_patient_path(@patient), method: :get %></div>
<br />
<div><%= button_to "Delete Patient", patient_path(@patient), method: :delete %></div>
</h4>
<hr />
