<h1><%= @doctor.first_name ? "Edit " : "New " %>Doctor</h1>
<div class="form_input"><%= form_with(model: @doctor, local: true) do |f| %><?div>
<div class="form_input_label"><%= f.label :first_name %></div>
<div class="form_input"><%= f.text_field :first_name %></div>
<div class="form_input_label"><%= f.label :last_name %></div>
<div class="form_input"><%= f.text_field :last_name %></div>
<div class="form_input_label"><%= f.label :specialty %></div>
<div class="form_input"><%= f.text_field :specialty %></div>
<div class="form_input_label"><%= f.label :age %></div>
<div class="form_input"><%= f.number_field :age %></div>
<div class="form_input"><%= f.submit %></div>
<% end %>
</hr>

