<h1>Dr. <%=@doctor.full_name%></h1>
<h3>Specialty in: <%= @doctor.specialty %>
<h3>Age: <%= @doctor.age %>
<h3>Contact Information: </h3>
<h4>
<div><%= button_to "Edit Doctor", edit_doctor_path(@doctor), method: :get %></div>
<br />
<div><%= button_to "Delete Doctor", doctor_path(@doctor), method: :delete %></div>
</h4>
<hr />
<h4><%= link_to "Appointments for Dr. #{@doctor.full_name}", doctor_appointments_path(@doctor), method: :get, class: "links" %>
</h4>

