<h1>Dr. <%=@doctor.full_name%></h1>
<h3>Specialty in: <%= @doctor.specialty %>
<h3>Age: <%= @doctor.age %>
<h3>Contact Information: </h3>
<h4>
<%= link_to "Edit Doctor", edit_doctor_path(@doctor), class: "links" %>
<%= link_to "Delete Doctor", doctor_path(@doctor), method: :delete, class: "links" %>
</h4>
<hr />
<h4><%= link_to "Appointments for Dr. #{@doctor.full_name}", doctor_appointments_path(@doctor), class: "links" %>
</h4>
